.container-fluid {
	background-color:#fafafa;
}
.search-videos
{
	padding-top: 30px;
}
.search-videos-images
{
	height: 180px;
	max-width: 320px;
	min-width: 180px
}
.about-video
{
	padding-top: 10px;
}
.pagination{
  margin-top: 30px;
}

.durationSlider
{
	position: absolute;
	top: 45%;
	width: 91.2%;
	margin-left: 2.5%;
}
p {
	word-wrap: break-word;
}
.video-title {
	display: block;
max-height: 3rem;
overflow: hidden;
font-size: 1rem;
font-weight: 500;
line-height: 1.35rem;
cursor: pointer;
text-decoration: none;
color: var(--yt-endpoint-color, hsl(0, 0%, 6.7%)) !important;
margin-bottom: 0px;
}
.fa-lg {
	font-size: .6em;
	color: gray;
	padding-left: 5px;
	padding-right: 5px;
}
span {
	color:#A0A0A0;
	font-size: .9rem;
}
.video-description {
	font-size: 12px;
	color:#A0A0A0;
	padding-top: 8px;
}
.paginationColumn {
	padding: 0px;
}
.close {
	color: #FF0000;
	background-color:white;
}
.close:hover {
	color: #FF0000;
	background-color:white;
}