.toc {
  padding-top: 5px;
}

.tocDetails {
  padding: 0px;
}

.videoSection {
  margin-top: 30px;
}

a {
  cursor: pointer;
}

.upNextTitle {
  display: block;
  max-height: 2.8rem;
  overflow: hidden;
  font-size: .9rem;
  font-weight: 350;
  line-height: 1.35rem;
  cursor: pointer;
  text-decoration: none;
  color: var(--yt-endpoint-color, hsl(0, 0%, 6.7%)) !important;
  margin-bottom: 0px;
}

.upNextVideoTitle {
  padding-left: 10px;
}

.videoTitle {
  display: block;
  max-height: 2.8rem;
  overflow: hidden;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.35rem;
  cursor: pointer;
  text-decoration: none;
  color: var(--yt-endpoint-color, hsl(0, 0%, 6.7%)) !important;
}

.videoImage {
  padding: 0px;
}

.container-fluid {
  padding: 0px;
}

.upNextVideos {
  padding-top: 10px;
}

.actionSection {
  margin-top: 10px;
  margin-bottom: 10px;
}

.videoDescription {
  margin-top: 10px;
}

.upnextSection {
  padding-top: 20px;
  padding-bottom: 10px;
}

.p0 {
  padding: 0px;
}

.durationSlider {
  position: absolute;
  top: 53%;
  width: 97.2%;
}

.error {
  font-size: 13px;
  line-height: 17px;
  color: #dd3737;
  font-weight: normal;
  display: block;
  position: relative;
}

.rowList {
  max-width: 650px;
}

.tocTitle {
  width: 250px;
}

.actionButton {
  width: 100px;
}

.content-save-btn,
.card-block {
  padding: 10px;
}

.form-group {
  margin-bottom: .1rem;
}

.modal-header {
  padding: 5px;
}

.videoDetailDescription {
  font-size: 16px;
  color: #A0A0A0;
}

.videoStats {
  color: #A0A0A0;
  line-height: 1.1rem;
  font-size: 1rem;
  font-weight: 400;
  text-transform: none;
}

.videoShareStats {
  color: #A0A0A0;
  line-height: .7rem;
  font-size: .8rem;
  font-weight: 400;
  text-transform: none;
}

a {
  text-decoration: none;
}


/* Start Auto Play CSS*/

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* End Auto Play CSS*/