<div class="body">
  <div class="row col-md-12 base">
    <!--  <h1 class="flow-h1 col-md-12">Choose a new password that’s hard to guess</h1> -->
    <div class="col-md-12 col-sm-12  text-center head-txt">
     <span>Choose a new password that’s hard to guess</span>
   </div>
   
   <div class="col-md-3 col-sm-2"></div>
   <div class="col-md-6 col-sm-8 reset-password">
     <div *ngIf="errorMessage" class="alert alert-danger custom-alert text-center" role="alert">
       <strong>{{errorMessage}}</strong>
     </div>
     <div *ngIf="successMessage" class="alert alert-success custom-success-alert" role="alert">
       <strong>{{successMessage}}</strong>
     </div>
     <div class="flow-reset">

      <form class="form-group" [formGroup]="resetPasswordFrom">
        <div class="fieldgroup">

          <div class="err" *ngIf="resetPasswordFrom.get('password').touched && resetPasswordFrom.get('password').errors">
            <div class="error" *ngIf="resetPasswordFrom.get('password').errors.required">
              Password is required
            </div>
            <div class="error" *ngIf="resetPasswordFrom.get('password').errors.minlength" >
             Your password must include at least 8 characters
           </div>
         </div>

         <div class="flow-input">
          <input type="password" class="form-control " formControlName="password" placeholder="New password" 
          [class.input-error]="resetPasswordFrom.get('password').touched && resetPasswordFrom.get('password').errors" >
        </div>

        <div *ngIf="resetPasswordFrom.get('confirmPassword').touched && resetPasswordFrom.get('confirmPassword').errors">
          <div class="error" *ngIf="resetPasswordFrom.get('confirmPassword').errors.required">
            Confirm password is required
          </div>
          <div class="error" *ngIf="resetPasswordFrom.get('confirmPassword').errors.notEquivalent">The new password and confirm password do not match
          </div>
        </div>
        <div class="flow-input">
          <input type="password" class="form-control" placeholder="Confirm new password" formControlName="confirmPassword" [class.input-error]="resetPasswordFrom.get('confirmPassword').touched && resetPasswordFrom.get('confirmPassword').errors">
        </div>
        <div class="form-action">
          <button class="btn btn-submit" [disabled]="resetPasswordFrom.invalid" (click)="resetPassword(resetPasswordFrom)" >Submit</button>
        </div>
      </div>
    </form>

  </div>

</div>

</div>
</div>
