.qus-form-container{
  padding: 0px 17px 17px 17px;
}

.qus-form {
  height: 210px;
  height: 100%;
  position: relative;
  padding: 5px;
  border-radius: 10px;
}
button {
  cursor: pointer;
}
.qus-form-container .form-group {
  padding-top: 0px;
}
.body {
 background: #f5f5f5;
}

.back {
  margin-top: 10px;
}

.qs-type {
  background: #f5f5f5;
  height: 38px;
  color: #a4abb2;
  margin-bottom: 20px!important;
}

.qus-form textarea, input[type='text'] {
  border: none;
  border-bottom: 1px solid rgb(210, 210, 210);
  color: #333333;
  font-size: 17px;
  font-weight: normal;
  line-height: 16px;
  outline: none;
  width: 80%;
  padding-left: 4px;
  padding-right: 20px;
}

span i{
  padding: 5px;
  margin-top: 5px;
}

.mendatoryField {
  color:red;
}

@media (max-width: 568px) {
 .flow-h1 {
  font-size: 25px;
}
.push-1 {
  left:0%;
}
}

input[type='checkbox'] {
  width: 12%
}

.checkbox-inline {
  width: 100%;
}

.flow-h1 {
  text-align: center;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 3.07rem;
}

label {
  font-size: 13px;
  font-weight: 700;
  font-family: RobotoDraft;
  color: #42a5f5;
}

.qus-form select {
  padding: 1px;
  border: none;
  border-bottom: 1px solid rgb(210, 210, 210);
  margin-left: -2px;
  width: 92%;
  display: inline;
  font-weight: 500;
}

.fst-opt {
 color: rgb(210, 210, 210);
}

.form-actions {
  margin-top: 30px;
  text-align: center;
  margin-bottom: 30px;
}

.cust{
  padding-left: 25px;
  padding-right: 25px;
}

::-webkit-input-placeholder {
 text-transform: initial;
}

:-moz-placeholder { 
 text-transform: initial;
}

::-moz-placeholder {  
 text-transform: initial;
}

:-ms-input-placeholder { 
 text-transform: initial;
}

.txt-trans {
  text-transform: lowercase !important;
}

.danger-alert {
 background-color: #dd2e1f;
 color: #fff;
 font: bold;
 font-size: 15px;
}

.custom-success-alert{
  background-color: #4CAF50;
  color: #fff;
  font: bold;
  font-size: 15px;
}

.radio-btn label {
  width: 40%;
  font-size: 14px;
}

.radio-btn input {
  width: 20%;
}

.checkbox-custom {
  margin-left: 6px;
  margin-top: 20px;
}

form {
  width: 100%;
}

.cbx {
  margin-top: 22px !important;
}

.card-section {
  padding-left: 0px;
  padding-right: 0px;
}

.card-title {
  background-color: rgb(52, 113, 127);
  height: 45px;
  color: #fff;
  padding-top: 10px;
  padding-left: 12px;
}

.card-block {
  padding: 0px 0px 20px 0px;
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .radio-btn label {
   font-size: 12px;
   margin-top: -6px;
   padding-top: 0px !important;
 }
 select {
  margin-top: 0px !important;
}
textarea {
  padding-top: 0px !important;
}
}

.rd input[type="radio"]{
  width: 22px; 
  height: 22px;
}

.error-msg {
  margin-top: 0px;
}

.full textarea {
  width: 90%;
}
.full label {
 display: block !important;
}