doctype html  
html(lang='en')  
  head
    title status
  body
    form(method="post", action="https://securegw-stage.paytm.in/merchant-status/getTxnStatus", name="f1")
      - for (name in restdata) { 
          input(type="hidden" name=name value=restdata[name])
      - }
    script
      | document.f1.submit()