<div class="container-section">
  <div class="row">
    <div class="col-md-1 pl-0 pr-0">
    </div>
    <div class="col-md-11">
      <div class="container-fluid">
        <div class="row breadcrumb">
          <div class="col-12 text-left mt-2 mb-1 ">
            <h3 class="page-heading">Cart</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 mt-4 table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th class="text-center" scope="col">#</th>
                  <th scope="col">Cart Items
                  </th>
                  <th scope="col">Title</th>
                  <th scope="col">Actual Price</th>
                  <th class="text-center" scope="col">Offered Price</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor=" let item of cart?.items; let i= index; ">
                  <td class="text-center">{{i+1}}</td>
                  <td>{{item.title}} </td>
                  <td class="text-center">{{item.actualPrice}}</td>
                  <td class="text-center">{{item.offeredPrice}}</td>
                </tr>
                <tr>
                	<td> Total Amount :</td>
                	<td>{{cart?.totalPrice}}</td>
                	<td><a href="{{apiHost}}/api/orders/{{cart?._id}}?token={{token}}" class="register-link">Buy Now</a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
