.cstm-container {
  margin-top: 15px;
  background-color: #fff;
  height: 310px;
}
.cstm-container table thead {
  background-color: #14485f;
  color: #fff;
  padding-left: -11px;
  padding-right: -8px;
}
.table-scroll tbody {
  position: absolute;
  overflow-y: auto !important;
  height: 250px;
}
.table-scroll tr {
  width: 100%;
  table-layout: fixed;
  display: inline-table;
}
tbody tr:hover {
  /*background-color: #ECEFF1;
  color: black;*/
  cursor: pointer;
}
.no-data {
  background-color: #eff0f1;
  height: 38px;
  font-weight: 300;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #53585F;
}
.cstm-container-full {
  margin-top: 15px;
  background-color: #fff;
  height: 440px;
}
.tbody-full {
  position: absolute !important;
  overflow-y: scroll !important;
  height: 440px !important;
}

/*
@media screen and (max-width: 767px) {
  .table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #DDD;
  }
  .cstm-container {
    margin-top: 15px;
    background-color: #fff;
    height: 310px;
  }
  }*/
  @media screen and (max-width: 767px) {
    .table-scroll tbody {
      width: 100%;
      height: 250px;
    }
    .table-scroll tr {
      width: 100%;
      table-layout: fixed;
      display:  table-row;
    }
  }
  
  /*  display: ;*/
/*.cstm-container {
  position: relative;
  z-index: 0;
  margin-top: 50px;
}

.responsive-table {
  display: table;
  table-layout: fixed;
  width: 100%;
  height: 100%;
}

.responsive-table thead {
  position: fixed;
  top: 50px;
  left: 0;
  right: 0;
  width: 100%;
  height: 50px;
  line-height: 3em;
  background: #eee;
  table-layout: fixed;
  display: table;
}

.responsive-table th {
  background: #eee;
}

.responsive-table td {
  line-height: 2em;
}

.responsive-table tr > td,
.responsive-table th {
  text-align: left;
}*/