.header {
  /*background-color: #fff;*/
  border-bottom: 2px solid #ebebeb;
}
.mid-section {
  margin-top: 12px;
  margin-bottom: 12px;
  padding-right: 60px;
  padding-left: 60px;
}

.rightContent-heading {
  padding: 16px;
  font-weight: 500;
  font-size: 13px;
  font-family: RobotoDraft, 'Helvetica Neue', Helvetica, Arial;
  text-transform: none;
  letter-spacing: normal;
  margin: 0;
  color: #42a5f5;
}
.list-content {
  color: #858585;
  font-weight: 500;
  font-size: 13px;
  font-family: RobotoDraft, 'Helvetica Neue', Helvetica, Arial;
  text-transform: none;
  letter-spacing: normal;
  margin: 0;
}


.heading {
  font-size: 1.50rem;
  font-weight: 400;
  line-height: 2.46rem;
  color: black;
}
.topicHeading {
  color: #333333;
  font-size: 1.24rem;
  font-weight: 400;
}
.subtopic-length {
  font-size: .8rem;
}
.subHeading {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.84rem;
}
.short-description {
  font-weight: 500;
  line-height: 1.84rem;
  color: #212121;
  font-size: .9rem;
}
.long-description {
  font-weight: 400;
  line-height: 1.84rem;
  font-size: .9rem;
}
.list-item {
  line-height: 1.53rem;
  font-size: 0.9rem;
}

.pL20pT5fW300 {
  padding-left: 20px;
  padding-top: 5px;
  font-weight: 300;
}

.pL10 {
  padding-left: 10px;
}
.pL20 {
  padding-left: 20px;
}
.pL45 {
  padding-left: 45px;
}

.pB10 {
  padding-bottom: 10px;
}
.pB-50 {
  padding-bottom: 50px;
}
.pR10 {
  padding-right: 10px;
}
.fa-chevron-down {
  font-size: 10px;
}
p {
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}
a:hover {
  color:#42a5f5;
  text-decoration: none;
}
.back-button {
  margin-left: 10px;
  color: #4f6f8f;
  border: none;
  font-size: 19px;
  text-align: right;
  padding-bottom: 5px;
}

.back-button:hover {
  color: #fff !important;
  background-color: #4f6f8f;
  border: #4f6f8f;
}
.curriculam-section {
  padding-bottom: 20px;
}
.topic-list {
  margin-bottom: 10px;
  cursor: pointer;
}
.list-heading {
  color: #757575;
  margin-bottom: 10px;
  font-weight: 500 !important;
}
.icon-block.half {
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 27px;
  padding: 1px;
}
.img-circle {
  border-radius: 50%;
}
.topic-title {
  width: 100%;
}
.subTopic-details {
  padding-top: 10px;
}
.topic-icon {
  padding-right: 0px;
}
.btn-default {
  background-color: #fff;
  border-color: #e2e9e6;
  cursor: pointer;
}
.btn-default:hover {
  background-color: #fff;
  border-color: #e2e9e6;
  cursor: pointer;
}
.btn-course {
  color: #fff;
  background-color: #007791;
  border: 1px solid transparent;
  margin-bottom: 9px;
  width: 45%;
  padding-left: 10px;
  margin-right: 19px;
  font-size: 12px;
  cursor: pointer;
}
.feedback-title {
  font-weight: 500;
  color: #212121;
  font-size: .9rem;
}
.rating {
  float: left;
  justify-content: left !important;
}
.progress-bar {
  width: 25%;
}
.progress {
  margin-top: 20px;
}
.like-dislike {
  /*padding-top: 20px;*/
  padding-left: 2px
}
.f-s-14 {
  font-size: 14px;
}
.showSection {
  cursor: pointer;
}
.course-rating {
  padding-right: 20px;
}
.prc-box {
  display: flex;
  justify-content: flex-end;
  min-height: 36px;
  margin-top: -8px;
}
.act-prc-box {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}
.act-prc {
  order: -1;
  color: #686f7a;
  font-weight: 400;
  font-size: 13px;
  margin-right: 5px;
  text-decoration: line-through;
}

@media(max-width: 768px) {
  .back-button {
    color: #4f6f8f;
    border: none;
    font-size: 12px;
    text-align: left;
    padding-right: 5px;
    padding-left: 5px;
  }
  .mid-section {
    padding-right: 0px;
    padding-left: 0px;
  }
  .topicHeading {
    color: #333333;
    font-size: .9rem;
    font-weight: 400;
  }
  .subtopic-length {
    font-size: .7rem;
  }
  .icon-block.half {
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 15px;
  }
  .topic-icon {
    position: relative;
    width: 120%;
    min-height: 1px;
    padding-right: 8px;
    padding-left: 8px;
  }
}
.list-data {
  padding: .25rem .50rem;
}
.btn-down {
  padding: .40rem .75rem;
}
.shr-img {
  height: 510px;
  width: 488px;
}
.add-new-container{
  width: 100%;
}