<!-- Start -->
<div *ngIf="currentApp === apps[0]" class="container-fluid policy-container">
  <div class="page-section">
    <div class="row">
      <div class="col-md-12 topHead">
        <h2 class="section-title text-headline">Privacy  Policy</h2>
      </div>
      <div class="col-sm-12">
        <h5><strong>Overview</strong></h5>
        <p>At <span class="bold">Smartpathshala.com</span> we take privacy of the user very seriously and are committed to keep it intact from any harm or misuse. We leave no stone unturned to provide the utmost privacy about the sensitive information of the user. We collect this data from time to time for the company understanding and study but more than this the information gathered is never touched.</p>

        <h5><strong>About the website</strong></h5>
        <ul>
        	<li>Smartpathshala.com is an informative and educational platform, our main motive is to provide best knowledge in different subjects to the user and for this we study different aspects of user behavior on the basis of information gathered. It is to make the user experience far more comfortable and aligning that we work for. The intelligent platform maps the progress charts and reflect it to developers and to the clients for the shortest route to most user likeable parts of the website.</li>
        	<li>We donot support any virus or such harmful programs through our website that could be proven to be disaster for the user in any way. </li>
        	<li>
        		Use of Information collected:
        		<ul>
        			<li>The information collected is never sold at our platform.</li>
        			<li>Any third party never gets any information from us.</li>
        		</ul>
        	</li>
        </ul>

        <p>We donot take guarantee of any promotional advertisement flashed on the website and recommend the user to not to share any personal data to such third parties as they are not our trusted resources.</p>

        <p>You information may be use to improve the quality of the content provided on this website. We may use it to learn the behavior or the pattern of your use of this website and could enhance the features given here. Your registration once done, the information collected is locked which only authorized company employees can observe and manage. </p>

        <p>We donot hold any of your browser’s history or do not concern with any website you visit parallel or after surfing smartpathshala.com</p>

        <p> We may send a few important emails or sms to the ID and contact number provided during the registration, but we will not disturb or promote any other organization through these channels.</p>

        <p>Payment and credit card details are never part of our information collection and they are only used at the time of payments made that to through the secured payment gateways having end–to-end encryptions.</p>

        <p>Sharing any personal information with instructor or any other member of smartpathshala community will not come under the privacy policy as it shall be the individuals own decision which cannot be regulated at our end. We recommend to not to share such information to any untrusted resource but in case you do share then there will be not liability of such sharing on the company.</p>

        <h5><strong>Change in Privacy Policy</strong></h5>

        <p>Company holds all the right to make changes in privacy policy at any given moment without any prior notice. User is recommended to keep visiting this page to remain updated about any such change.</p>

        <h5><strong>Account Deletion:</strong></h5>
        <p>We feel sad when the user leaves our platform but you are free to delete your account at any moment you feel like. At the very moment you delete the account all your information is flushed off our database and would not hold it for our informational research.</p>

        <p>Still have any doubts regarding our privacy policy, feel free to contact us on <span class="bold">contact@smartpathshala.com</span>.</p>
      </div>
    </div>
  </div>
</div>
<!-- End -->
<!-- Start -->
<div *ngIf="currentApp === apps[1]" class="container-fluid policy-container">
  <div class="page-section">
    <div class="row">
      <div class="col-md-12 topHead">
        <h2 class="section-title text-headline">Privacy  Policy</h2>
      </div>
      <div class="col-sm-12">
        <h5><strong>Overview</strong></h5>
        <p>At <span class="bold">Codestrippers.com</span> we take privacy of the user very seriously and are committed to keep it intact from any harm or misuse. We leave no stone unturned to provide the utmost privacy about the sensitive information of the user. We collect this data from time to time for the company understanding and study but more than this the information gathered is never touched.</p>

        <h5><strong>About the website</strong></h5>
        <ul>
        	<li>Codestrippers.com is an informative and educational platform, our main motive is to provide best knowledge in different subjects to the user and for this we study different aspects of user behavior on the basis of information gathered. It is to make the user experience far more comfortable and aligning that we work for. The intelligent platform maps the progress charts and reflect it to developers and to the clients for the shortest route to most user likeable parts of the website.</li>
        	<li>We donot support any virus or such harmful programs through our website that could be proven to be disaster for the user in any way. </li>
        	<li>
        		Use of Information collected:
        		<ul>
        			<li>The information collected is never sold at our platform.</li>
        			<li>Any third party never gets any information from us.</li>
        		</ul>
        	</li>
        </ul>

        <p>We donot take guarantee of any promotional advertisement flashed on the website and recommend the user to not to share any personal data to such third parties as they are not our trusted resources.</p>

        <p>You information may be use to improve the quality of the content provided on this website. We may use it to learn the behavior or the pattern of your use of this website and could enhance the features given here. Your registration once done, the information collected is locked which only authorized company employees can observe and manage. </p>

        <p>We donot hold any of your browser’s history or do not concern with any website you visit parallel or after surfing Codestrippers.com</p>

        <p> We may send a few important emails or sms to the ID and contact number provided during the registration, but we will not disturb or promote any other organization through these channels.</p>

        <p>Payment and credit card details are never part of our information collection and they are only used at the time of payments made that to through the secured payment gateways having end–to-end encryptions.</p>

        <p>Sharing any personal information with instructor or any other member of codestrippers community will not come under the privacy policy as it shall be the individuals own decision which cannot be regulated at our end. We recommend to not to share such information to any untrusted resource but in case you do share then there will be not liability of such sharing on the company.</p>

        <h5><strong>Change in Privacy Policy</strong></h5>

        <p>Company holds all the right to make changes in privacy policy at any given moment without any prior notice. User is recommended to keep visiting this page to remain updated about any such change.</p>

        <h5><strong>Account Deletion:</strong></h5>
        <p>We feel sad when the user leaves our platform but you are free to delete your account at any moment you feel like. At the very moment you delete the account all your information is flushed off our database and would not hold it for our informational research.</p>

        <p>Still have any doubts regarding our privacy policy, feel free to contact us on <span class="bold">contact@Codestrippers.com</span>.</p>
      </div>
    </div>
  </div>
</div>
<!-- End -->