<div class="container-section">
  <div class="row">
    <div class="col-12 text-center">
      <i class="fa fa-exclamation-circle icon" aria-hidden="true"></i>
    </div>
    <div class="col-md-12 col-sm-12  text-center find-message">Link Expired
      <p>
        Sorry, this verification link is no longer valid
      </p>
    </div>
    
  </div>
  <p class="col-12 text-center">
    <a href="javascript:void(0)" [routerLink]="['/', 'resend-mail', 'account-verification']">Click here to resend mail</a>
  </p>
</div>

