.form-group {
	padding-top: 10px;
	padding-bottom: 10px;
	
}
.mediaImage {
	height: 100px;
	width: 100px;
	padding-top: 10px;
}
.card {
	margin-top: 10px;
	margin-bottom: 10px;
	padding : 0px;
}
.card-text {
	padding: 0px;
}
.card-block {
	height: 80px;
}
.card-footer {
	padding: 10px;
}