<div class="container-section">
  <div class="row">
    <div class="col-md-1 pl-0 pr-0">
    </div>
    <div class="col-md-11">

      <div class="container-fluid container-section">
        <div class="row breadcrumb">
          <div class="col-8 text-left mt-2 mb-1 ">
            <h3 *ngIf="CONFIG.USER_INSTRUCTOR!=role" class="page-heading">Courses</h3>
            <select *ngIf="CONFIG.USER_INSTRUCTOR==role" [(ngModel)]="courseType" class="p-1" (change)="courseTypeChange()">
              <option *ngFor="let courseType of courseTypes" value="{{courseType}}">{{courseType}}</option>
            </select>

            <div *ngxPermissionsOnly="permissions; else elseBlock; then thenBlock"></div>
            <ng-template #elseBlock>
              <div></div>
            </ng-template>
            <ng-template #thenBlock>
              <a class="btn btn-outline-info add-new" [routerLink]="['/', urlPrefix, 'courses', 'add']"><i class="fa fa-plus-circle"> </i> Add</a>
            </ng-template>
          </div>
          <div class="col-4 text-right">
            <a class="btn btn-outline-info back" [routerLink]="['/', urlPrefix, 'dashboard']"><i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i> Back
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-12 middle-section">
            <ul class="list-group">
             <li class="list-group-item d-flex justify-content-between mb-2"  *ngFor="let course of courses; let i= index; ">
               <div class="row w-100">
                 <div class="col-md-1">
                   <img *ngIf="course.icon" class="card-img-top img-fluid" [attr.src]="courseImgPath+course.icon" [attr.alt]="course.name">
                   <div *ngIf="!course.icon">
                     <div *ngIf="i%2===0; else oddImg; then evenImg"></div>
                     <ng-template #evenImg>
                      <img class="card-img-top img-fluid" src="{{imgPath}}/course-default.jpg" [attr.alt]="course.title">
                    </ng-template>
                    <ng-template #oddImg>
                      <img class="card-img-top img-fluid" src="{{imgPath}}/course-default2.jpeg" [attr.alt]="course.title">
                    </ng-template>
                  </div>
                </div>
                <div class="col-md-7 text-left">
                  <div class="row">
                    <a href="javascript:void(0)" class="anchor-link" [routerLink]="['/', urlPrefix, 'courses', course._id]">
                      <h5 class="mb-1 pt-1 subtitle"> {{course.title | titlecase}}
                      </h5>
                    </a>
                  </div>
                  <div class="row">
                   <span class="total-topic">Total topic : {{course.totalTopics}}</span>
                 </div>
               </div>
               <div class="col-md-4 text-right course-action">

                <div class="px-0" *ngIf="CONFIG.ADMIN.indexOf(role) > -1 || course.createdBy?.id == userId">
                 <div *ngIf="CONFIG.USER_ADMIN === role; else otherUserAct; then adminAct"></div>
                 <ng-template #adminAct>
                   <button type="submit" data-toggle="modal" data-target="#courseAction" class="btn btn-light btn-sm mr-1" (click)="setActionType(course)" title="Action">Action</button>
                   <div *ngIf="course.status===CONFIG.CONTENT_STATUS[3] || course.status===CONFIG.CONTENT_STATUS[5]">
                    <button type="button" class="btn btn-light btn-sm mr-1" title="Edit Course"  [routerLink]="['/', urlPrefix, 'courses', 'edit', course._id]"><span class="fa fa-pencil"></span></button>
                    <button type="button" class="btn btn-light btn-sm mr-1"  (click)="deleteCourse(course._id)" title="Delete course"><span class="fa fa-trash"></span></button>
                    <!-- <button type="button" class="btn btn-light btn-sm mr-2" title="Student View" [routerLink]="['/', urlPrefix, 'courses', course._id,'course-preview']"><span class="fa fa-eye"></span></button> -->
                  </div>
                  <div *ngIf="course.status===CONFIG.CONTENT_STATUS[4]">
                    <button type="button" disabled="true" class="btn btn-light btn-sm mr-1" title="Pending for review">Pending for review</button>
                  </div>
                </ng-template>
                <ng-template #otherUserAct>
                  <div *ngIf="course.status===CONFIG.CONTENT_STATUS[3] || course.status===CONFIG.CONTENT_STATUS[5]">
                    <button type="submit" data-toggle="modal" data-target="#courseAction" class="btn btn-light btn-sm mr-1" (click)="setActionType(course)" title="Submit for review">Submit</button>
                    <button type="button" class="btn btn-light btn-sm mr-1" title="Edit Course"  [routerLink]="['/', urlPrefix, 'courses', 'edit', course._id]"><span class="fa fa-pencil"></span></button>
                    <button type="button" class="btn btn-light btn-sm mr-1"  (click)="deleteCourse(course._id)" title="Delete course"><span class="fa fa-trash"></span></button>
                  </div>
                  <div *ngIf="course.status===CONFIG.CONTENT_STATUS[4]">
                    <button type="button" disabled="true" class="btn btn-light btn-sm mr-1" title="Pending for review">Pending for review</button>
                  </div>
                </ng-template>
              </div>
              <div class="px-0">
                <button style="display: inherit;" type="button" class="btn btn-light btn-sm mr-2" title="Student View"  [routerLink]="['/', urlPrefix, 'courses', course._id,'course-preview']"><span class="fa fa-eye"></span>
                </button>
              </div>
            </div>
          </div>
        </li>
      </ul>
      </div>
      </div>
      <!-- pagination start here -->
      <div class="col-12 custom-pgn" *ngIf="totalItems>itemsPerPage">
        <pagination class="pagination" [totalItems]="totalItems" [itemsPerPage]="itemsPerPage" [(ngModel)]="currentPage" (pageChanged)="pageChanged($event)"></pagination>
      </div>
      <!-- pagination end here -->
      </div>






      <!-- <div class="container-section">
        <div class="row add-new-container">
          <div class="col-8 text-left ">
            <h3 class="page-heading">Courses</h3>
            <div *ngxPermissionsOnly="permissions; else elseBlock; then thenBlock"></div>
            <ng-template #elseBlock>
              <div></div>
            </ng-template>
            <ng-template #thenBlock>
              <a class="btn btn-outline-info add-new" [routerLink]="['/', urlPrefix, 'courses', 'add']"><i class="fa fa-plus-circle"> </i> Add</a>
            </ng-template>
          </div>
          <div class="col-4 text-right">
            <a class="btn btn-outline-info back" [routerLink]="['/', urlPrefix]"><i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i> Back
          </a>
          </div>
        </div>
        <div class="row">
          <div class="col-12 text-center errorMessage" *ngIf="errMessage">
            <h6>{{errMessage}}</h6>
          </div>
          <div class="col-md-3 content-list" *ngFor="let data of courses; let i=index;">
            <div class="card">
              <div class="card-title text-center" [ngStyle]="{'background-color': colors[i]}">
                <span class="headingTitle">{{data.title}}</span>
              </div>
              <div class="card-body ">
                <p class="card-text">{{data.shortDescription | words: 30}} </p>
              </div>
              <div class="card-footer">
                <div class="row">
                  <div *ngxPermissionsOnly="permissions; else elseBlock; then thenBlock"></div>
                  <ng-template #elseBlock>
                    <div *ngIf="!userFlow"  class="col-12 text-center">
                      <div class="col-12"><a [ngStyle]="{'color': colors[i]}" href="javascript:void(0)" [routerLink]="['/', urlPrefix, 'topic-playlist', data._id]"><i class="fa fa-eye" title="View Course Details"></i> View Course Details</a></div>
                    </div>
                    <div *ngIf="userFlow" class="col-12 text-center">
                      <div class="col-12"><a [ngStyle]="{'color': colors[i]}" href="javascript:void(0)" [routerLink]="['/', urlPrefix, 'courses', data._id]" [queryParams]="{'tab':'topics'}"><i class="fa fa-eye" title="View Course Details"></i> View Course Details</a></div>
                    </div>
                  </ng-template>
                  <ng-template #thenBlock>
                    <div class="col-4"><a [ngStyle]="{'color': colors[i]}" href="javascript:void(0)" [routerLink]="['/', urlPrefix, 'courses', data._id]" [queryParams]="{'tab':'topics'}"><i class="fa fa-eye" title="View Course Details"></i> View</a></div>
                    <div class="col-4"><a [ngStyle]="{'color': colors[i]}" href="javascript:void(0)" [routerLink]="['/', urlPrefix, 'courses', 'edit', data._id]"><i class="fa fa-pencil" title="Edit course"></i> Edit</a>
                    </div>
                    <div class="col-4"><a [ngStyle]="{'color': colors[i]}" href="javascript:void(0)" (click)="deleteCourse(data._id)"> <i class="fa fa-trash" title="Delete course"></i> Delete</a></div>
                  </ng-template>
                </div>
              </div>
            </div>
          </div> -->

          <!-- </div> -->

          <!-- Add and edit model for skill -->
          <div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false" id="courseAction">
            <div class="modal-dialog modal-md">
              <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header text-center">
                  <h4 aria-hidden="true">Action</h4>
                  <button type="button" class="close" data-dismiss="modal" title="Close" aria-label="Close" #closeModal>
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>

                <div class="modal-body">
                 <form class="form-group" [formGroup]="courseStatusFrom">
                  <div class="row form-group">
                    <label class="col-sm-2 control-label p-0" for="Skill Title"><span class="form_required">*</span>Status:</label>
                    <div class="col-sm-10">
                      <select formControlName="status" class="form-control">
                       <option value="" selected disabled>Select status</option>
                       <option *ngFor="let status of courseActionStatus" value="{{status.val}}">{{status.key}}</option>
                     </select>

                     <div class="err" *ngIf="courseStatusFrom.get('status').touched && courseStatusFrom.get('status').errors">
                      <div class="error ml-2" *ngIf="courseStatusFrom.get('status').errors.required">
                        Status is required
                      </div>
                    </div>

                  </div>
                  <label class="col-sm-2 control-label mt-2 mb-2 p-0"><span class="form_required">*</span>Message: </label>
                  <div class="col-sm-10">

                    <textarea rows="4" formControlName="message" class="form-control mt-2 mb-2"></textarea>
                    <div class="err" *ngIf="courseStatusFrom.get('message').touched && courseStatusFrom.get('message').errors">
                      <div class="error ml-2" *ngIf="courseStatusFrom.get('message').errors.required">
                        Message is required
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-cancel" data-dismiss="modal" title="Cancel">
                    Cancel
                  </button>
                  <button type="button" class="btn btn-save"  [disabled]="courseStatusFrom.invalid"  (click)="submitCourseStatus()">
                    Submit
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
