<div class="container-fluid ">
  <div class="tab-content tab-resize">
    <div class="tab-pane active">
      <form [formGroup]="changePasswordForm">
        <div class="row">
          <div class="col-md-8 col-sm-12 error mx-auto" *ngIf="errorMessage">
            {{errorMessage}}
          </div>
          <div class="col-md-12 pb-3">
            <div class="form-field">
              <div class="row">
                <div class="col-md-3 padding-0">
                  <label class="label-modify">Old Password</label>
                </div>
                <div class="col-md-7 padding-0">
                  <div class="form-control-material">
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-key"></i></span>
                      <input type="password" autocomplete="off" class="form-control" name="" formControlName="oldPassword" placeholder="Old Password">
                    </div>
                    <div class="err" *ngIf="changePasswordForm.get('oldPassword').touched && changePasswordForm.get('oldPassword').errors">
                      <div class="error" *ngIf="changePasswordForm.get('oldPassword').errors.required">
                        Old password is required
                      </div>
                      <div class="error" *ngIf="changePasswordForm.get('oldPassword').errors.minlength">
                        Your password must include at least 8 characters
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12 pb-3">
            <div class="form-field">
              <div class="row">
                <div class="col-md-3 padding-0">
                  <label class="label-modify">New Password</label>
                </div>
                <div class="col-md-7 padding-0">
                  <div class="form-control-material">
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-key"></i></span>
                      <input type="password" autocomplete="off" class="form-control" name="" formControlName="newPassword" placeholder="New Password">
                    </div>
                    <div class="err" *ngIf="changePasswordForm.get('newPassword').touched && changePasswordForm.get('newPassword').errors">
                      <div class="error" *ngIf="changePasswordForm.get('newPassword').errors.required">
                        New password is required
                      </div>
                      <div class="error" *ngIf="changePasswordForm.get('newPassword').errors.minlength">
                        Your password must include at least 8 characters
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12 pb-2">
            <div class="form-field">
              <div class="row">
                <div class="col-md-3 padding-0">
                  <label class="label-modify">Confirm new password</label>
                </div>
                <div class="col-md-7 padding-0">
                  <div class="form-control-material">
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-key"></i></span>
                      <input type="password" autocomplete="off" class="form-control" name="" formControlName="confirmNewPassword" placeholder="Confirm new password">
                    </div>
                    <div *ngIf="changePasswordForm.get('confirmNewPassword').touched && changePasswordForm.get('confirmNewPassword').errors">
                      <div class="error" *ngIf="changePasswordForm.get('confirmNewPassword').errors.required">
                        Confirm password is required
                      </div>
                      <div class="error" *ngIf="changePasswordForm
                .get('confirmNewPassword').errors.notEquivalent">The new password and confirm password do not match
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row py-4">
              <div class="col-md-3 px-5">
              </div>
              <div class="col-md-7 padding-0">
                <div class="form-field  update-button">
                  <input type="button" class="btn btn-success" value="Change Password" [disabled]="changePasswordForm.invalid" (click)="changePassword(changePasswordForm)">
                </div>
              </div>
            </div>
          </div>
          <!-- row close -->
        </div>
        <!-- form close -->
      </form>
      <!-- tab close -->
    </div>
  </div>
  <!-- container -->
</div>
