<div class="container-section">
  <div class="row add-new-container">
    <div class="col-2 ">
      <h3 class="page-heading" (click)="loadAllData()">Courses</h3>
    </div>
    <div class="col-6">
      <div class="row">
        <div class="col-9 ">
         <!--    <input  type="text" class="form-control" [(ngModel)]="searchText" name="" (keyup.enter)="handleKeyDown()"> -->
         <input  type="text" class="form-control" placeholder="Text to search..." [(ngModel)]="searchText" name="">
       </div>
       <div class="col-3 text-left">
        <!--   <input type="button" name="" class="btn btn-primary btn-view btn-result" value="Search" (click)="search()"> -->
      </div>
    </div>
  </div>
  <div class="col-4 text-right">
    <a class="btn btn-outline-info back" [routerLink]="['/', urlPrefix]"><i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i> Back
    </a>
  </div>
</div>

 <!--  <div *ngIf="errorMessage" class="alert alert-danger danger-alert text-center" role="alert">
    <strong>{{errorMessage}}</strong>
  </div>
-->

<div class="row">
  <div class="col-md-8 col-sm-12">
    <div class="row content" *ngFor="let data of courses | search : {'title': searchText, 'shortDescription': searchText}; let i=index; ">
      <div class="col-4">
       <img *ngIf="data.icon" class="card-img-top img-fluid" [attr.src]="courseImgPath+data.icon" [attr.alt]="data.name">
       <div *ngIf="!data.icon">
         <div *ngIf="i%2===0; else oddImg; then evenImg"></div>
         <ng-template #evenImg>
          <img class="card-img-top img-fluid" src="{{imgPath}}/course-default.jpg" [attr.alt]="data.title">
        </ng-template>
        <ng-template #oddImg>
          <img class="card-img-top img-fluid" src="{{imgPath}}/course-default2.jpeg" [attr.alt]="data.title">
        </ng-template>
      </div>
    </div>
    <div class="col-8 pT10">
      <div class="mB10">
        <span class="card-text title-cust">{{data.title}}</span><br>
      </div>
     <!--  <div class="mB10">
        <star-rating-comp class="rating" [readOnly]="true" [starType]="'svg'" [rating]="data.rating"></star-rating-comp>
        <span class="m-1">{{data.rating}}</span> <span *ngIf="data.userRatings"
        class="m-1">({{data.userRatings?.length}})</span>
      </div> -->
      <div class="mB10 shortDescription">
        <span class="ins-title">{{data.shortDescription | words: 5}} </span>
      </div>
      <hr>
      <div class="row pT10">
        <div class="col-6 text-left pL0" >
          <h6 class="totalTopics">Total Topics : {{data?.topics.length}}</h6>
        </div>
        <div class="col-6 text-right mB10" >
          <button class="btn btn-primary btn-view btn-result" [routerLink]="['/', urlPrefix, 'course-details', data._id]">view</button>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="totalItems==0" class="text-center">
    <h2>There is no course</h2>
  </div>
</div>

<div class="col-md-4 col-sm-12">
  <ul class="list-group">
    <li class="list-group-item section-heading">Categories</li>
    <li class="list-group-item section-heading" (click)="loadAllData()"><a href="javascript:void(0)">All Categories</a></li>
    <li class="list-group-item list-item" *ngFor="let item of categoryDetails"><a href="javascript:void(0)" (click)="getCourseBasisCategory(item._id)">{{item.name}}</a></li>
   <!--  <li class="list-group-item list-item"><a href="javascript:void(0)">Course Forums</a></li>
    <li class="list-group-item list-item"><a href="javascript:void(0)">Take Quiz</a></li>
    <li class="list-group-item list-item"><a href="javascript:void(0)">Quiz Result</a></li> -->
  </ul>
</div>

<!-- pagination start here -->
<div class="col-12 custom-pgn" *ngIf="totalItems>itemsPerPage">
  <pagination class="pagination" [totalItems]="totalItems" [itemsPerPage]="itemsPerPage" [(ngModel)]="currentPage" (pageChanged)="pageChanged($event)"></pagination>
</div>
<!-- pagination end here -->
</div>








<!-- <div class="row content">
  <div class="col-lg-2 col-md-3 col-sm-12 content-list" *ngFor="let data of courses; let i=index;">
    <div class="card card-custom">

      <div *ngIf="i%2===0; else oddImg; then evenImg"></div>
      <ng-template #evenImg>
        <img class="card-img-top card-img-custom" src="{{imgPath}}/course-default.jpg" alt="Card image cap">
      </ng-template>
      <ng-template #oddImg>
        <img class="card-img-top card-img-custom" src="{{imgPath}}/course-default2.jpeg" alt="Card image cap">
      </ng-template>

      <div class="card-body">
        <p class="card-text title-cust">{{data.title}}<br/><span class="ins-title">{{data.shortDescription}} </span></p>
        <span class="ins-title" *ngIf="data.createdByName">Created by: {{data.createdByName}}</span><br/>
        <span class="row ins-title">
          <star-rating-comp [readOnly]="true" [starType]="'svg'" [rating]="data.rating"></star-rating-comp>
          <span class="m-1">{{data.rating}}</span> <span *ngIf="data.userRatings"
          class="m-1">({{data.userRatings?.length}})</span>
        </span><br/>
        <span class="prc-box">

          <button *ngIf="data.isPaid" type="button" class="btn btn-primary btn-sm btn-course" (click)="takeCourse(data._id)">Take Course</button>

          <button *ngIf="data.isPaid && data.activationMethod=='Paid'" type="button" class="btn btn-primary btn-sm btn-course" (click)="buyCourse(data._id)">Buy Now</button>

           <button *ngIf="data.isPaid && data.activationMethod=='Promotion'" type="button" class="btn btn-primary btn-sm btn-course" (click)="subscribeCourse(data.activationMethod,data._id,share)" data-toggle="modal">Subscribe</button>

             <button *ngIf="data.isPaid && data.activationMethod=='Promotion'" type="button" class="btn btn-primary btn-sm btn-course"  [routerLink]="['/', urlPrefix, 'courses','course-preview', data._id]" data-toggle="modal">Subscribe</button>

          <span>
            <span class="act-prc-box"></span>
            <span class="act-prc"><i class="fa fa-inr"></i>{{data.price?.actual}}</span>
            <span><i class="fa fa-inr"></i>{{data.price?.offered}}</span>
          </span>

        </span>
      </div>
    </div>
  </div> -->
</div>

<!-- <button  data-toggle="modal" class="btn btn-primary share-button" data-target="#shareModal" #share></button> -->
<!-- Modal div start here -->
<!-- <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="shareModal" aria-hidden="true" data-backdrop="static" data-keyboard="false" id="shareModal">
  <div class="modal-dialog">
    <div class="modal-content"> -->
      <!-- Modal Header -->
     <!--  <div class="modal-header">
        <h4 aria-hidden="true" class="modal-heading"><strong>Interested? Share to Friends, Get Free Access & Let the World Know
         Benefits of Sharing:</strong></h4>
         <button type="button" class="close" data-dismiss="modal" title="Close" (click)="closeModal()" aria-label="Close" #close>
          <span aria-hidden="true">&times;</span>
        </button>
      </div> -->
      <!-- Modal Body -->
    <!--   <div class="modal-body row">
        <div clas="col-xl-8 col-lg-8 col-md-12 col-sm-12" style="margin-left: 15px !important;">
          <ul class="ml-20">
            <li><strong>Free access</strong> to the course for 1 month.</li>
            <li><strong>Free videos</strong> in the playlists</li>
            <li><strong>Free Assessments </strong></li>
            <li><strong>Free Notes + Keypoints </strong></li>
            <li>No restrictions on any material given in the course </li>
            <li>Friends can also get the access of the course</li>
            <li>Community contributions to make the learning better</li>
          </ul> 
          Wait no more! Hit the “share” button and get started now…
        </div>
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 text-center">
          <img  src="{{imgPath}}/offer.jpeg" alt="Card image cap">
        </div>
      </div>
      <div class="modal-footer">
       <a href="javascript:void(0)" class="btn btn-primary fb-btn" (click)=socialMediaShare()><span class="fa fa-facebook fa-1x"></span>&nbsp;&nbsp;Share</a>
     </div> -->
     <!-- Modal Footer -->
 <!--   </div>
 </div>
</div> -->
<!-- Modal div end here -->