<div class="container-section">
  <div class="row">
    <div class="col-12 back-button text-right">
      <a class="btn btn-outline-info back" [routerLink]="['/', urlPrefix, 'students']"><i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i> Back
    </a>
    </div>
  </div>
  <div class="row reg-form-container add-new-container">
    <div class="col-xl-2 col-lg-8 col-md-1"></div>
    <div class=" col-xl-8 col-lg-8 col-md-10 col-sm-12 reg-form">
      <h1 *ngIf="formType=='add'" class="flow-h1">Student Registration</h1>
      <h1 *ngIf="formType=='edit'" class="flow-h1">Update Student</h1>
      <!-- error and success message div start here -->
      <div *ngIf="errorMessage" class="alert alert-danger danger-alert" role="alert">
        <strong>{{errorMessage}}</strong>
      </div>
      <!-- <div *ngIf="successMessage" class="alert alert-success custom-success-alert text-center" role="alert">
       <strong>{{successMessage}}</strong>
     </div> -->
      <!-- error and success message div end here -->
      <form [formGroup]="stuForm">
        <div class="row">
          <div class="col-md-1"></div>
          <div class="form-group col-md-5">
            <span class="mendatoryField">*</span>
            <input type="text" formControlName="name" placeholder="Name">
            <div *ngIf="stuForm.get('name').touched && stuForm.get('name').errors">
              <div class="error-msg ml-4" *ngIf="stuForm.get('name').errors.required">
                User name is required
              </div>
             <!--  <div class="error-msg ml-4" *ngIf="stuForm.get('name').errors.pattern">
                Please enter valid name
              </div> -->
            </div>
          </div>
         <!--  <div class="form-group col-md-5">
            <span class="mendatoryField">*</span>
            <input type="text" formControlName="lastName" placeholder="Last name">
            <div *ngIf="stuForm.get('lastName').touched && stuForm.get('lastName').errors">
              <div class="error-msg ml-4" *ngIf="stuForm.get('lastName').errors.required">
                Last name is required
              </div>
              <div class="error-msg ml-4" *ngIf="stuForm.get('lastName').errors.pattern">
                Please enter valid last name
              </div>
            </div>
          </div>
          <div class="col-md-1"></div> -->
          <!-- <div class="col-md-1"></div> -->
          <div class="form-group col-md-5">
            <span class="mendatoryField">*</span>
            <select class="form-control" formControlName="gender">
              <option value="" disabled selected hidden>Select gender </option>
              <option value="{{gender}}" *ngFor="let gender of genders">{{ gender }}</option>
            </select>
            <div *ngIf="stuForm.get('gender').touched && stuForm.get('gender').errors">
              <div class="error-msg ml-4" *ngIf="stuForm.get('gender').errors.required">
                Gender is required
              </div>
            </div>
          </div>
           <div class="col-md-1"></div>
          <div class="col-md-1"></div>
          <div class="form-group col-md-5">
            <span class="mendatoryField">*</span>
            <input type="email" [readonly]="formType=='edit'" formControlName="email" placeholder="Email" class="txt-trans">
            <div *ngIf="stuForm.get('email').touched && stuForm.get('email').errors">
              <div class="error-msg ml-4" *ngIf="stuForm.get('email').errors.required">
                Email is required
              </div>
              <div class="error-msg ml-4" *ngIf="stuForm.get('email').errors.pattern">
                Please enter valid email
              </div>
            </div>
          </div>

          <div class="form-group col-md-5">
            <span class="mendatoryField">*</span>
            <input type="text" formControlName="mobile" placeholder="Mobile number">
            <div *ngIf="stuForm.get('mobile').touched && stuForm.get('mobile').errors">
              <div class="error-msg ml-4" *ngIf="stuForm.get('mobile').errors.required">
                Mobile number is required
              </div>
              <div class="error-msg ml-4" *ngIf="stuForm.get('mobile').errors.pattern || stuForm.get('mobile').errors.maxlength">
                Please enter valid mobile number
              </div>
            </div>
          </div>
           <div class="col-md-1"></div>
          <div class="col-md-1"></div>
          <div class="form-group col-md-5">
            <span class="mendatoryField">*</span>
            <input type="text" formControlName="class" placeholder="Class">
            <div *ngIf="stuForm.get('class').touched && stuForm.get('class').errors">
              <div class="error-msg ml-4" *ngIf="stuForm.get('class').errors.required">
                Class is required
              </div>
              <div class="error-msg ml-4" *ngIf="stuForm.get('class').errors.pattern">
                Please enter valid class
              </div>
            </div>
          </div>

          <div *ngIf="role!='School'" class="form-group col-md-5">
            <span class="mendatoryField">*</span>
            <select class="form-control" formControlName="schoolId">
              <option value="" disabled selected hidden>Select school </option>
              <option value="{{school.schoolId}}" *ngFor="let school of schools">{{ school.schoolName }}</option>
            </select>
            <div *ngIf="stuForm.get('schoolId').touched && stuForm.get('schoolId').errors">
              <div class="error-msg ml-4" *ngIf="stuForm.get('schoolId').errors.required">
                School is required
              </div>
            </div>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-1"></div>
          <div class="form-group col-md-5">
            <div class="row col-md-12 radio-btn">
              <label class="form-check-label">
                <input type="radio" class="form-check-input checkbox-custom" name="status" formControlName="status" [value]='status.ACTIVE'> Active
              </label>
              <label class="form-check-label">
                <input type="radio" class="form-check-input checkbox-custom" name="status" formControlName="status" [value]='status.INACTIVE'> In Active
              </label>
            </div>
          </div>
          <div class=" col-12  form-actions">
            <!---->
            <button type="button"  [routerLink]="['/', urlPrefix, 'students']" class="btn btn-cancel">Cancel</button>
            <button *ngIf="formType=='add'" type="submit" class="btn btn-save" [disabled]="stuForm.invalid" (click)="register()" [ngStyle]="{'cursor':stuForm.valid ? 'pointer' : 'not-allowed' }">Submit</button>
            <button *ngIf="formType=='edit'" type="submit" class="btn btn-update" [disabled]="stuForm.invalid" (click)="update()" [ngStyle]="{'cursor':stuForm.valid ? 'pointer' : 'not-allowed' }">Update</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
