<!-- <footer class="footer-module">
 <div class="row text-center">
    <div class="col-12 footerSection">
      <p>	&copy; 2018 Smartpathshala</p>
    </div>
  </div>
</footer> -->
<footer class="footer">
	<div class="row">
		<div class="col-md-6">
      &copy; Knight Learning Solutions Pvt. Ltd.  2014-2019
		</div>
		<div class="col-md-6">
			<a routerLink="/">Home</a> &nbsp;&nbsp;
			<a routerLink="/privacy">Privacy Policy</a> &nbsp;&nbsp;
			<a routerLink="/terms">Terms and Conditions</a>
		</div>
	</div>
</footer>