<div class="container-section">
  <div class="row">
    <div class="col-md-1 pl-0 pr-0">
    </div>
    <div class="col-md-11">
      <div class="body">
        <div class="col-12 back-button text-right">
          <a class="btn btn-outline-info back" [routerLink]="['/', urlPrefix, 'courses',courseId, 'topics',topicId,'subtopics',subTopicId]" [queryParams]="{'tab':'questions'}"><i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i>Back</a>
        </div>
        <div class="row qus-form-container">
          <div class=" col-xl-12 col-lg-12 col-md-12 col-sm-12 qus-form">
            <h1 *ngIf="formType=='add'" class="flow-h1">Add Question</h1>
            <h1 *ngIf="formType=='edit'" class="flow-h1">Update Question</h1>
            <div class="row">
              <div class="card col-lg-12 col-md-12 card-section">
                <div class="row qs-typ">
                  <div *ngIf="formType=='add'" class="card col-md-12 ">
                    <span>
              <i class="fa fa-list-ul fa-2x badge-success" (click)="setQuestionType(questionTypes[0])" title="Single choice"></i>
              <i class="fa fa-list fa-2x badge-warning" (click)="setQuestionType(questionTypes[1])"title="Multiple choice"></i>
              <i class="fa fa fa-gears fa-2x badge-danger" (click)="setQuestionType(questionTypes[2])"title="True/False"></i>
              <!-- <i class="fa fa-ellipsis-h fa-2x badge-info" (click)="setQuestionType(questionTypes[3])"title="Fill in the blanks"></i> -->
            <!-- <i class="fa fa-file-image-o fa-2x badge-info" (click)="setQuestionType(questionTypes[2])"title="Image"></i>
            <i class="fa fa-arrows-h fa-2x badge-danger" (click)="setQuestionType(questionTypes[3])"title="Matching"></i> -->
          </span>
                  </div>
                  <div class="row col-12" [ngSwitch]="questionType">
                    <app-multiple-choice-question *ngSwitchCase="questionTypes[1]"></app-multiple-choice-question>
                    <app-true-false-question *ngSwitchCase="questionTypes[2]"></app-true-false-question>
                    <app-fill-in-the-blanks-question *ngSwitchCase="questionTypes[3]"></app-fill-in-the-blanks-question>
                    <app-single-choice-question *ngSwitchDefault></app-single-choice-question>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
