<div class="container-section">
  <div class="row">
    <div class="col-md-1 pl-0 pr-0">
    </div>
    <div class="col-md-11">
<div class="container-fluid">
  <div class="row breadcrumb">
    <div class="col-8 text-left mt-2 mb-1 ">
      <a class="page-heading" [routerLink]="['/', urlPrefix, 'projects']"><i class="fa fa-home" aria-hidden="true"></i> Projects</a> / <a class="page-heading" [routerLink]="['/', urlPrefix, 'projects',projectId]"><i class="fa fa-home" aria-hidden="true"></i> Epics</a> / <span *ngIf="!epicId" class="breadcrumb-active">Add a new epic</span>
      <span *ngIf="epicId" class="breadcrumb-active">Update epic</span>
    </div>
    <div class="col-4 text-right">
      <a class="btn btn-outline-info back" [routerLink]="['/', urlPrefix, 'projects',projectId]"><i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i> Back
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-12 pt-4">
      <h2 *ngIf="!epicId" class="legend">Add a new epic</h2>
      <h2 *ngIf="epicId" class="legend">Update epic</h2>
    </div>
  </div>
  <form class="form-horizontal" role="form" [formGroup]="formEpic">
    <div class="row">
      <div class="col-12">
        <div class="form-group ">
          <div class="row">
            <label for="title" class="col-sm-2 text-center form-label">
              <span class="form_required">*</span> Title
            </label>
            <div class="col-sm-8">
              <input class="form-control" name="title" type="text" formControlName="epicTitle">
              <div *ngIf="formEpic.get('epicTitle').touched && formEpic.get('epicTitle').errors">
                <div class="error-msg ml-4">
                  <div *ngIf="formEpic.get('epicTitle').errors.required">
                    {{Config.title.required}}
                  </div>
                  <div *ngIf="formEpic.get('epicTitle').errors.minlength">
                    {{Config.title.minlength[1]}}
                  </div>
                  <div *ngIf="formEpic.get('epicTitle').errors.maxlength">
                    {{Config.title.maxlength[1]}}
                  </div>
                </div>
              </div>
              <!--               <div *ngIf="formEpic.get('epicTitle').touched && formEpic.get('epicTitle').errors">
                <div class="error">
                  Title is required.
                </div>
              </div> -->
            </div>
          </div>
          <div class="row pt-4">
            <label for="description" class="col-sm-2 text-center form-label">
              <span class="form_required">*</span> Description
            </label>
            <div class="col-sm-8">
              <ckeditor class="form-control" [(ngModel)]="epicDescription" debounce="500" [ngModelOptions]="{standalone: true}">
              </ckeditor>
            </div>
          </div>
          <div class="row pt-4" *ngIf="epicId">
            <label for="description" class="col-sm-2 text-center form-label">
              <span class="form_required">*</span> Status
            </label>
            <div class="col-sm-8">
              <div class="form-check form-check-inline">
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="statusCheck" [value]="status.ACTIVE" checked formControlName="statusCheck"> Active
                </label>
              </div>
              <div class="form-check form-check-inline">
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="statusCheck" [value]="status.INACTIVE" formControlName="statusCheck"> Inactive
                </label>
              </div>
            </div>
          </div>
          <div class="row pt-4 text-center">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
              <button type="button" class="btn btn-default" (click)="intializeForm()">
                Reset
              </button>
              <button type="button" class="btn btn-save" *ngIf="!epicId" title="Save" [disabled]="!formEpic.valid" (click)="saveEpic(formEpic)" [ngStyle]="{'cursor':formEpic.valid ? 'pointer' : 'not-allowed' }">
                Save
              </button>
              <button type="button" class="btn btn-save" *ngIf="epicId" title="Update" [disabled]="!formEpic.valid" (click)="updateEpic(formEpic)" [ngStyle]="{'cursor':formEpic.valid ? 'pointer' : 'not-allowed' }">
                Update
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
</div>
</div>
</div>
