<!-- Start -->
<div *ngIf="currentApp === apps[0]" class="container-fluid policy-container">
  <div class="page-section">
    <div class="row">
      <div class="col-md-12 topHead">
        <h2 class="section-title text-headline">Terms and Conditions</h2>
      </div>
      <div class="col-sm-12">
        <h5><strong>Read the below given details carefully before using this website</strong></h5>
        <p>Use of this website for any client is managed under the terms and conditions mentioned here. Here on <span class="bold">smartpathshala.com (“website”)</span> will be stated as <span class="bold">“Smartpathshala”, “Company”, “us” or “we”</span>.</p>

        <p>“You” is the term that will be used for the client, user or paid customer.  For the companies, schools accessing this website, you shall agree to own whole responsibility for any damage or indemnify for any data duplication or misuse.</p>
				
				<p>The Smartpathshala website, the educational services made available through the site and the content courses (the “Products”) are designed by the company. Their maintenance and regular updates are all managed by Smartpathshala, thus the courses are collectively owned by the company.</p>

				<p>By using the website and the products offered, you solemnly accept that you have read the terms and conditions given here and completely understand as well as accept the said terms. You will follow all the terms mentioned here as well as under Privacy Policies of the company given, only the portion of the company product can be used by you (further terms are described below)</p>
        

        <h5><strong>Please Read Below Carefully Before You Using The Facilities Of This Website</strong></h5>
        <ul>
        	<li>The company is not liable for any modification in the content provided under different courses. Any mistake or damaged data, error shall be notified but not claimed for.  It includes all the parts including the product, services and other resources such as emails and blogs.</li>
        	<li>A log in password and ID would be required to access the courses, these credentials come under the supervision of the company which holds the right to block the access at any moment of time without any prior notice.</li>
        	<li>No illicit activity would be tolerated using your credentials or otherwise.</li>
        	<li>The website content and service is available for 24*7 but there is no obligation for it on company’s part.</li>
        </ul>

       	<h5><strong>Website Usage Directory</strong></h5>
       	<ul>
       		<li>We believe in the terms of free education to all and have shared the knowledge that can be accessed by every age group. However there may be restrictions on support and other services by the company.</li>
       		<li>We have set the rules to keep this platform clean and running, all these rules are applied on website, application and other subdomain exercisable units.</li>
       		<li>This platform is not meant to harm anyone’s integrity or sovereignty, we donot support any illicit content which may insult, abuse, harass, stalk, threated or otherwise infringe the personal and professional integrity of anyone. All those who shall build their courses on this platform shall also abide the same terms.</li>
       		<li>Any such content if found to be made or published shall be taken down from the website immediately with proper actions taken against such individual or 3rd party. </li>
       		<li>Anyone surfing this website should not attempt to hack or reverse engineer the platform. No spam activity or self-advertisements shall be allowed.</li>
       	</ul>

       	<h5><strong>Terms for Exterior Links: </strong></h5>
       	<p>This website may contain links to other website for educational reasons, but they <span class="bold">shall not be used for:</span></p>
       	<ul>
       		<li>Spamming the users</li>
       		<li>Linking racist, pornographic or terrorism supporting websites</li>
       		<li>Websites that are flagged by government as illegal or illicit or in any other way found unfit for regular internet users</li>
       		<li>Hacking information of any individual.</li>
       	</ul>
       	<p>Users shall also note that any spam link found in the website should be reported and it should be noted that we donot personally take any responsibility of such links.</p>
				
       	<h5><strong>Copyright and Intellectual Property: </strong></h5>
				<p>We have filtered content from various open sources or 3rd party websites including our own trademarked content, our aim is to provide best knowledge to the users. If the content is found to be harming anyone’s intellectual property rights then it should be reported and the content shall be removed after the proper investigations. For this a detailed description along with the IP, location and copyright details shall be email at <span class="bold">contact@smartpathshala.com</span></p>

       	<h5><strong>Payment and Transaction:</strong></h5>
       	<p>For using some parts of this website user might need to pay some amount. For this user shall carefully check the content and then make the payment. Any mistaken payments shall be reported to <span class="bold">contact@smartpathshala.com</span> with proper explanation. Smartpathshala holds the right to take the last decision in such cases and can deduct the transactional charges if the amount is to be refunded. Also the invoices and bills should be kept with care for such cases.</p>

       	<p>Any claim shall be settles within 30 working days. Refund orders can be done within 2 days or it shall not be eligible for refund process.</p>

       	<p>Subscriptions and discounts are for limited period and can be changed without any prior notice. The information given in the subscribed courses can be viewed with re-subscription. Discount offeres taken cannot be refunded as per the terms of transaction on this website.</p>

       	<h5><strong>Limit of Liability:</strong></h5>
       	<p>User agree that company shall not be liable for loss, harm or incident or other aspects caused from using the knowledge and products shown on this website. Any third party offer shown shall not claimed for its authenticity as it will not be controlled by our company.</p>

       	<p>You shall not hold any employee, or company connected person liable for any of the content given on the website.</p>

       	<p>Lastly, Smartpathshala holds all the rights to change the prices, terms of use, privacy policy without any prior notice. Users are notified to visit these pages regularly to keep themselves updated for any such change. </p>
      </div>
    </div>
  </div>
</div>
<!-- End -->
<!-- Start -->
<div *ngIf="currentApp === apps[1]" class="container-fluid policy-container">
  <div class="page-section">
    <div class="row">
      <div class="col-md-12 topHead">
        <h2 class="section-title text-headline">Terms and Conditions</h2>
      </div>
      <div class="col-sm-12">
        <h5><strong>Read the below given details carefully before using this website</strong></h5>
        <p>Use of this website for any client is managed under the terms and conditions mentioned here. Here on <span class="bold">codestrippers.com (“website”)</span> will be stated as <span class="bold">“codestrippers.com”, “Company”, “us” or “we”</span>.</p>

        <p>“You” is the term that will be used for the client, user or paid customer.  For the companies, schools accessing this website, you shall agree to own whole responsibility for any damage or indemnify for any data duplication or misuse.</p>
				
				<p>The Codestrippers website, the educational services made available through the site and the content courses (the “Products”) are designed by the company. Their maintenance and regular updates are all managed by Codestrippers, thus the courses are collectively owned by the company.</p>

				<p>By using the website and the products offered, you solemnly accept that you have read the terms and conditions given here and completely understand as well as accept the said terms. You will follow all the terms mentioned here as well as under Privacy Policies of the company given, only the portion of the company product can be used by you (further terms are described below)</p>
        

        <h5><strong>Please Read Below Carefully Before You Using The Facilities Of This Website</strong></h5>
        <ul>
        	<li>The company is not liable for any modification in the content provided under different courses. Any mistake or damaged data, error shall be notified but not claimed for.  It includes all the parts including the product, services and other resources such as emails and blogs.</li>
        	<li>A log in password and ID would be required to access the courses, these credentials come under the supervision of the company which holds the right to block the access at any moment of time without any prior notice.</li>
        	<li>No illicit activity would be tolerated using your credentials or otherwise.</li>
        	<li>The website content and service is available for 24*7 but there is no obligation for it on company’s part.</li>
        </ul>

       	<h5><strong>Website Usage Directory</strong></h5>
       	<ul>
       		<li>We believe in the terms of free education to all and have shared the knowledge that can be accessed by every age group. However there may be restrictions on support and other services by the company.</li>
       		<li>We have set the rules to keep this platform clean and running, all these rules are applied on website, application and other subdomain exercisable units.</li>
       		<li>This platform is not meant to harm anyone’s integrity or sovereignty, we donot support any illicit content which may insult, abuse, harass, stalk, threated or otherwise infringe the personal and professional integrity of anyone. All those who shall build their courses on this platform shall also abide the same terms.</li>
       		<li>Any such content if found to be made or published shall be taken down from the website immediately with proper actions taken against such individual or 3rd party. </li>
       		<li>Anyone surfing this website should not attempt to hack or reverse engineer the platform. No spam activity or self-advertisements shall be allowed.</li>
       	</ul>

       	<h5><strong>Terms for Exterior Links: </strong></h5>
       	<p>This website may contain links to other website for educational reasons, but they <span class="bold">shall not be used for:</span></p>
       	<ul>
       		<li>Spamming the users</li>
       		<li>Linking racist, pornographic or terrorism supporting websites</li>
       		<li>Websites that are flagged by government as illegal or illicit or in any other way found unfit for regular internet users</li>
       		<li>Hacking information of any individual.</li>
       	</ul>
       	<p>Users shall also note that any spam link found in the website should be reported and it should be noted that we donot personally take any responsibility of such links.</p>
				
       	<h5><strong>Copyright and Intellectual Property: </strong></h5>
				<p>We have filtered content from various open sources or 3rd party websites including our own trademarked content, our aim is to provide best knowledge to the users. If the content is found to be harming anyone’s intellectual property rights then it should be reported and the content shall be removed after the proper investigations. For this a detailed description along with the IP, location and copyright details shall be email at <span class="bold">contact@codestrippers.com</span></p>

       	<h5><strong>Payment and Transaction:</strong></h5>
       	<p>For using some parts of this website user might need to pay some amount. For this user shall carefully check the content and then make the payment. Any mistaken payments shall be reported to <span class="bold">contact@codestrippers.com</span> with proper explanation. Codestrippers holds the right to take the last decision in such cases and can deduct the transactional charges if the amount is to be refunded. Also the invoices and bills should be kept with care for such cases.</p>

       	<p>Any claim shall be settles within 30 working days. Refund orders can be done within 2 days or it shall not be eligible for refund process.</p>

       	<p>Subscriptions and discounts are for limited period and can be changed without any prior notice. The information given in the subscribed courses can be viewed with re-subscription. Discount offeres taken cannot be refunded as per the terms of transaction on this website.</p>

       	<h5><strong>Limit of Liability:</strong></h5>
       	<p>User agree that company shall not be liable for loss, harm or incident or other aspects caused from using the knowledge and products shown on this website. Any third party offer shown shall not claimed for its authenticity as it will not be controlled by our company.</p>

       	<p>You shall not hold any employee, or company connected person liable for any of the content given on the website.</p>

       	<p>Lastly, Codestrippers holds all the rights to change the prices, terms of use, privacy policy without any prior notice. Users are notified to visit these pages regularly to keep themselves updated for any such change. </p>
      </div>
    </div>
  </div>
</div>
<!-- End -->