  <div class="container-fluid">
  	<div class="parallax cover overlay cover-image-full home">
  		<img class="parallax-layer" src="./../../assets/slider1.jpg" alt="Learning Cover" />
  		<div class="parallax-layer overlay overlay-full overlay-bg-white bg-transparent" data-speed="8" data-opacity="true">
  			<div class="v-center mt-4">
  				<div class="image-content page-section overlay-bg-white-strong relative paper-shadow" data-z="1">
  					<h1 class="text-display-2 margin-v-0-15 display-inline-block">Welcome To MyEvangelist!</h1>
  					<p class="text-subhead">WE TRANSFORM PEOPLE INTO PROGRAMMERS</p>
  					<a class="btn btn-green-500 btn-lg paper-shadow" data-hover-z="2" data-animated data-toggle="modal" href="#modal-overlay-signup">Sign Up - Only</a>
  				</div>
  			</div>
  		</div>
  	</div>
  	<div class="container">
  		<div class="page-section-heading">
  			<h2 class="text-display-1">Why codestrippers ?</h2>
  			<p class="lead text-muted">CodeStrippers is the platform which combines all requirements of learners under one umbrella.</p>
  		</div>
  		<div class="row">
  			<div class="col-md-4 col-sm-12 mb-4">
  				<div class="media">
  					<div class="media-left padding-none">
  						<div class="bg-green-300 text-white">
  							<div class="panel-body">
  								<i class="fa fa-film fa-2x fa-fw"></i>
  							</div>
  						</div>
  					</div>
  					<div class="media-body">
  						<div class="panel panel-default">
  							<div class="panel-body">
  								<!-- <div class="text-headline">Watch Courses Offline</div> -->
  								<p>Select best content available on internet and make it available via platform</p>
  							</div>
  						</div>
  					</div>
  				</div>
  			</div>
  			<div class="col-md-4 col-sm-12 mb-4">
  				<div class="media">
  					<div class="media-left padding-none">
  						<div class="bg-purple-300 text-white">
  							<div class="panel-body">
  								<i class="fa fa-life-bouy fa-2x fa-fw"></i>
  							</div>
  						</div>
  					</div>
  					<div class="media-body">
  						<div class="panel panel-default">
  							<div class="panel-body">
  								<!-- <div class="text-headline">Premium Support</div> -->
  								<p>Build the Gaps in availabilty of the content in open space and provide necessary content to study.</p>
  							</div>
  						</div>
  					</div>
  				</div>
  			</div>
  			<div class="col-md-4 col-sm-12 mb-4">
  				<div class="media">
  					<div class="media-left padding-none">
  						<div class="bg-orange-400 text-white">
  							<div class="panel-body">
  								<i class="fa fa-user fa-2x fa-fw"></i>
  							</div>
  						</div>
  					</div>
  					<div class="media-body">
  						<div class="panel panel-default">
  							<div class="panel-body">
  								<!-- <div class="text-headline">Learn from Top Tutors</div> -->
  								<p>Save learner time in filtering the best from the enormous content in the open space.</p>
  							</div>
  						</div>
  					</div>
  				</div>
  			</div>
  			<div class="col-md-4 col-sm-12 mb-4">
  				<div class="media">
  					<div class="media-left padding-none">
  						<div class="bg-cyan-400 text-white">
  							<div class="panel-body">
  								<i class="fa fa-code fa-2x fa-fw"></i>
  							</div>
  						</div>
  					</div>
  					<div class="media-body">
  						<div class="panel panel-default">
  							<div class="panel-body">
  								<!-- <div class="text-headline">Lesson Source Files</div> -->
  								<p>Provides the communication platform to communicate with pactitioners to decide their learning path.</p>
  							</div>
  						</div>
  					</div>
  				</div>
  			</div>
  			<div class="col-md-4 col-sm-12 mb-4">
  				<div class="media">
  					<div class="media-left padding-none">
  						<div class="bg-pink-400 text-white">
  							<div class="panel-body">
  								<i class="fa fa-print fa-2x fa-fw"></i>
  							</div>
  						</div>
  					</div>
  					<div class="media-body">
  						<div class="panel panel-default">
  							<div class="panel-body">
  								<!-- <div class="text-headline">Printed Diploma</div> -->
  								<p> Provide projects to implement the learning using right methodology and engineering disciplines</p>
  							</div>
  						</div>
  					</div>
  				</div>
  			</div>
  			<div class="col-md-4 col-sm-12 mb-4">
  				<div class="media">
  					<div class="media-left padding-none">
  						<div class="bg-red-400 text-white">
  							<div class="panel-body">
  								<i class="fa fa-tasks fa-2x fa-fw"></i>
  							</div>
  						</div>
  					</div>
  					<div class="media-body">
  						<div class="panel panel-default">
  							<div class="panel-body">
  								<!-- <div class="text-headline">New Lessons Daily</div> -->
  								<p>Support Learner at every stage of implementation weather it is code reviews, stuck in implementation, query resolution via our communication platform.</p>
  							</div>
  						</div>
  					</div>
  				</div>
  			</div>
  			<div class="col-md-4 col-sm-12 mb-4">
  				<div class="media">
  					<div class="media-left padding-none">
  						<div class="bg-green-300 text-white">
  							<div class="panel-body">
  								<i class="fa fa-film fa-2x fa-fw"></i>
  							</div>
  						</div>
  					</div>
  					<div class="media-body">
  						<div class="panel panel-default">
  							<div class="panel-body">
  								<!-- <div class="text-headline">Watch Courses Offline</div> -->
  								<p>Help them maintain their Github public profile so that they can showcase the world what they have learnt and implemented.</p>
  							</div>
  						</div>
  					</div>
  				</div>
  			</div>
  			<div class="col-md-4 col-sm-12 mb-4">
  				<div class="media">
  					<div class="media-left padding-none">
  						<div class="bg-purple-300 text-white">
  							<div class="panel-body">
  								<i class="fa fa-life-bouy fa-2x fa-fw"></i>
  							</div>
  						</div>
  					</div>
  					<div class="media-body">
  						<div class="panel panel-default">
  							<div class="panel-body">
  								<!-- <div class="text-headline">Premium Support</div> -->
  								<p> Finally make them a complete programmer, who can solve the industry level problem possible via learnt technology.</p>
  							</div>
  						</div>
  					</div>
  				</div>
  			</div>
  			<div class="col-md-4 col-sm-12 mb-4">
  				<div class="media">
  					<div class="media-left padding-none">
  						<div class="bg-orange-400 text-white">
  							<div class="panel-body">
  								<i class="fa fa-user fa-2x fa-fw"></i>
  							</div>
  						</div>
  					</div>
  					<div class="media-body">
  						<div class="panel panel-default">
  							<div class="panel-body">
  								<!-- <div class="text-headline">Learn from Top Tutors</div> -->
  								<p>At last , share the successful profiles with the corporates who are looking for trained professionals, in a way assist them to get a good start.</p>
  							</div>
  						</div>
  					</div>
  				</div>
  			</div>
  		</div>
  	</div>
  	<div class="page-section bg-white">
  		<div class="container">

  			<div class="text-center">
  				<h3 class="text-display-1">Life cycle at code stripppers ?</h3>
  				<p class="lead text-muted">It can be summarized in 4 steps:</p>
  			</div>
  			<br/>
  			<div class="row">
  				<div class="col-md-6 col-sm-12 mb-4">
  					<div class="item">
  						<div class="panel panel-default paper-shadow" data-z="0.5" data-hover-z="1" data-animated>
  							<div class="panel-body">
  								<div class="media media-clearfix-xs">
  									<div class="media-left">
  										<div class="cover width-90 width-100pc-xs overlay cover-image-full hover">
  											<span class="img icon-block s90 bg-default"></span>
  											<span class="overlay overlay-full padding-none icon-block s90 bg-default">
  												<span class="v-center">
  													<i class="fa fa-github"></i>
  												</span>
  											</span>
  											<a href="website-course.html" class="overlay overlay-full overlay-hover overlay-bg-white">
  												<span class="v-center">
  													<span class="btn btn-circle btn-white btn-lg"><i class="fa fa-graduation-cap"></i></span>
  												</span>
  											</a>
  										</div>
  									</div>
  									<div class="media-body">
  										<h4 class="media-heading margin-v-5-3"><a href="website-course.html">1. Learn from what is provided or from whereever one like (Videos, Text, from Official sites)</a></h4>
  									<!-- 	<p class="small margin-none">
  											<span class="fa fa-fw fa-star text-yellow-800"></span>
  											<span class="fa fa-fw fa-star text-yellow-800"></span>
  											<span class="fa fa-fw fa-star text-yellow-800"></span>
  											<span class="fa fa-fw fa-star-o text-yellow-800"></span>
  											<span class="fa fa-fw fa-star-o text-yellow-800"></span>
  										</p> -->
  									</div>
  								</div>
  							</div>
  						</div>
  					</div>
  				</div>
  				<div class="col-md-6 col-sm-12 mb-4">
  					<div class="item">
  						<div class="panel panel-default paper-shadow" data-z="0.5" data-hover-z="1" data-animated>
  							<div class="panel-body">
  								<div class="media media-clearfix-xs">
  									<div class="media-left">
  										<div class="cover width-90 width-100pc-xs overlay cover-image-full hover">
  											<span class="img icon-block s90 bg-primary"></span>
  											<span class="overlay overlay-full padding-none icon-block s90 bg-primary">
  												<span class="v-center">
  													<i class="fa fa-css3"></i>
  												</span>
  											</span>
  											<a href="website-course.html" class="overlay overlay-full overlay-hover overlay-bg-white">
  												<span class="v-center">
  													<span class="btn btn-circle btn-primary btn-lg"><i class="fa fa-graduation-cap"></i></span>
  												</span>
  											</a>
  										</div>
  									</div>
  									<div class="media-body">
  										<h4 class="media-heading margin-v-5-3"><a href="website-course.html">2. Decide on the problem to solve using the learnt technology</a></h4>
  								<!-- 		<p class="small margin-none">
  											<span class="fa fa-fw fa-star text-yellow-800"></span>
  											<span class="fa fa-fw fa-star text-yellow-800"></span>
  											<span class="fa fa-fw fa-star text-yellow-800"></span>
  											<span class="fa fa-fw fa-star-o text-yellow-800"></span>
  											<span class="fa fa-fw fa-star-o text-yellow-800"></span>
  										</p> -->
  									</div>
  								</div>
  							</div>
  						</div>
  					</div>
  				</div>
  				<div class="col-md-6 col-sm-12 mb-4">
  					<div class="item">
  						<div class="panel panel-default paper-shadow" data-z="0.5" data-hover-z="1" data-animated>
  							<div class="panel-body">
  								<div class="media media-clearfix-xs">
  									<div class="media-left">
  										<div class="cover width-90 width-100pc-xs overlay cover-image-full hover">
  											<span class="img icon-block s90 bg-lightred"></span>
  											<span class="overlay overlay-full padding-none icon-block s90 bg-lightred">
  												<span class="v-center">
  													<i class="fa fa-windows"></i>
  												</span>
  											</span>
  											<a href="website-course.html" class="overlay overlay-full overlay-hover overlay-bg-white">
  												<span class="v-center">
  													<span class="btn btn-circle btn-red-500 btn-lg"><i class="fa fa-graduation-cap"></i></span>
  												</span>
  											</a>
  										</div>
  									</div>
  									<div class="media-body">
  										<h4 class="media-heading margin-v-5-3"><a href="website-course.html">3. Using Agile methodology, Source Control Management tool under Mentor guidance implement </a></h4>
  									<!-- 	<p class="small margin-none">
  											<span class="fa fa-fw fa-star text-yellow-800"></span>
  											<span class="fa fa-fw fa-star text-yellow-800"></span>
  											<span class="fa fa-fw fa-star text-yellow-800"></span>
  											<span class="fa fa-fw fa-star-o text-yellow-800"></span>
  											<span class="fa fa-fw fa-star-o text-yellow-800"></span>
  										</p> -->
  									</div>
  								</div>
  							</div>
  						</div>
  					</div>
  				</div>
  					<div class="col-md-6 col-sm-12 mb-4">
  					<div class="item">
  						<div class="panel panel-default paper-shadow" data-z="0.5" data-hover-z="1" data-animated>
  							<div class="panel-body">
  								<div class="media media-clearfix-xs">
  									<div class="media-left">
  										<div class="cover width-90 width-100pc-xs overlay cover-image-full hover">
  											<span class="img icon-block s90 bg-lightred"></span>
  											<span class="overlay overlay-full padding-none icon-block s90 bg-lightred">
  												<span class="v-center">
  													<i class="fa fa-windows"></i>
  												</span>
  											</span>
  											<a href="website-course.html" class="overlay overlay-full overlay-hover overlay-bg-white">
  												<span class="v-center">
  													<span class="btn btn-circle btn-red-500 btn-lg"><i class="fa fa-graduation-cap"></i></span>
  												</span>
  											</a>
  										</div>
  									</div>
  									<div class="media-body">
  										<h4 class="media-heading margin-v-5-3"><a href="website-course.html">4. Get code reviews done from Mentors at every stage to learn good practices </a></h4>
  								<!-- 		<p class="small margin-none">
  											<span class="fa fa-fw fa-star text-yellow-800"></span>
  											<span class="fa fa-fw fa-star text-yellow-800"></span>
  											<span class="fa fa-fw fa-star text-yellow-800"></span>
  											<span class="fa fa-fw fa-star-o text-yellow-800"></span>
  											<span class="fa fa-fw fa-star-o text-yellow-800"></span>
  										</p> -->
  									</div>
  								</div>
  							</div>
  						</div>
  					</div>
  				</div>
  			</div>
  		</div>
  	</div>
<!--   <section class="footer-section">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-3">
          <h4 class="text-headline text-light">Corporate</h4>
          <ul class="list-unstyled">
            <li><a href="#">About the company</a></li>
            <li><a href="#">Company offices</a></li>
            <li><a href="#">Partners</a></li>
            <li><a href="#">Terms of use</a></li>
            <li><a href="#">Privacy</a></li>
            <li><a href="#">Contact us</a></li>
          </ul>
        </div>
        <div class="col-sm-6 col-md-3">
          <h4 class="text-headline text-light">Explore</h4>
          <ul class="list-unstyled">
            <li><a href="">Courses</a></li>
            <li><a href="">Tutors</a></li>
            <li><a href="">Pricing</a></li>
            <li><a href="">Become Tutor</a></li>
            <li><a href="">Sign Up</a></li>
          </ul>
        </div>
        <div class="col-xs-12 col-md-6">
          <h4 class="text-headline text-light">Newsletter</h4>

          <div class="form-group">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Enter email here...">
              <span class="input-group-btn">
								<button class="btn btn-grey-800" type="button">Subscribe</button>
							  </span>
            </div>
          </div>
          <br/>
          <p>
            <a href="#" class="btn btn-indigo-500 btn-circle"><i class="fa fa-facebook"></i></a>
            <a href="#" class="btn btn-pink-500 btn-circle"><i class="fa fa-dribbble"></i></a>
            <a href="#" class="btn btn-blue-500 btn-circle"><i class="fa fa-twitter"></i></a>
            <a href="#" class="btn btn-danger btn-circle"><i class="fa fa-google-plus"></i></a>
          </p>

          <p class="text-subhead">
            &copy;  Knight Learning Solutions Pvt. Ltd. 2014-2019.
          </p>
        </div>
      </div>
    </div>
  </section> -->
</div>